/* Common */

:root {
    --palette-1-main: #0084FD;
    --palette-1-secondary: #B5DDFF;
    --palette-2-main: #9792E4;
    --palette-2-secondary: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flx {
    display: flex;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

                        /* Mobile */


/* Header */

header {
    background-color: var(--palette-1-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.head-menu {
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.head-menu i {
    font-size: 2rem;
    color: white;
}

.nav-menu {
    display: none;
}

.login-button {
    transition: .5s;
}

.menu-button:hover {
    text-decoration: underline;
    color: black;
}

.login-button:hover {
    background-color: #5aacfa;
}


/* Main */

main {
    margin-top: 80px;
}


/* Demo app */

.demo-app {
    margin: 150px auto 100px;
    flex-direction: column;
}

.demo-card {
    background-color: var(--palette-1-secondary);
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

.demo-card div {
    text-align: center;
}

.demo-card.big-demo-card div {
    text-align: left;
}

.demo-card img {
    width: 100%;
    max-width: 300px;
    position: relative;
    top: 30px;
}

.demo-card h3 {
    color: var(--palette-1-main);
    margin-bottom: 40px;
}

.demo-card p {
    color: #63798C;
    font-weight: 600;
    line-height: 1.7rem;
}

.demo-card a {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 55px;
    border-radius: 30px;
    background-color: var(--palette-1-main);
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    transition: .5s;
}

.demo-card a::before {
    content:'\f179';
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
}

.demo-card i {
    color: var(--palette-1-main);
    font-size: 6rem;
    margin-bottom: 30px;
}

.big-demo-card a:hover {
    background-color: #5aacfa;
    color: black;
}


/* Strategic plan */

.strategic-plan {
    background-color: var(--palette-2-main);
    padding: 50px 0;
}

.strategic-plan > div {
    flex-direction: column;
}

.strat-card img {
    width: 100%;
}

.strat-card h2 {
    color: var(--palette-2-secondary);
    margin: 50px 0 50px;
    font-size: 2rem;
}

.card-1 p {
    color: var(--palette-2-secondary);
    line-height: 1.6rem;
}

.card-2 {
    margin-top: 50px;
    background-color: var(--palette-2-secondary);
    border-radius: 40px;
    text-align: center;
    padding: 30px 20px 0;
}

.card-2 h3 {
    padding: 15px 0;
}

.card-2 p {
    font-style: italic;
    line-height: 1.7rem;
}

.card-2 a {
    display: inline-block;
    margin: 30px 0;
    padding: 18px 20px;
    border-radius: 50%;
    background-color: var(--palette-2-main);
}

.strat-card.card-2 a:hover i  {
    animation: rotate .3s linear;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}


/* Testimonials */

.testimonials {
    margin: 50px 0 100px;
    text-align: center;
}

.testimonials span {
    text-transform: uppercase;
}

.testimonials h2 {
    color: var(--palette-2-main);
    font-size: 2rem;
    margin: 50px 0;
}

.testimonials p {
    font-size: 1.3rem;
    line-height: 2rem;
}

.testimonial-card {
flex-direction: column;
background-color: var(--palette-2-main);
border-radius: 40px;
padding: 50px 15px 30px 15px;
color: white;
margin-top: 50px;
}

.testimonial-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.testimonial-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-card span {
    display: inline-block;
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.2rem;
    letter-spacing: 2px;
}


/* Benefits */

.benefits {
    background-color: var(--palette-2-main);
    padding: 100px 0 50px;
}

.benefits > .container > h2 {
    color: var(--palette-2-secondary);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

.benefits-box {
    flex-direction: column;
}

.benefit-card {
    background-color: var(--palette-2-secondary);
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}

.benefit-card h2,
.benefit-card h3 {
    color: var(--palette-2-main);
    margin: 30px 0;
}

.benefit-card h2 {
    font-size: 3rem;
}

.benefit-card h3 {
    font-size: 1.7rem;
}

.benefit-card p {
    color: #737373;
    line-height: 2rem;
}

.benefit-card a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-color: var(--palette-2-main);
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 20px;
    transition: .5s;
}

.benefit-card a:hover {
    background-color: #7269ee;
    color: black;
}


/* About us */

.about {
    padding: 100px 0;
}

.about-box {
flex-direction: column;
}

.about1 h2 {
    color: var(--palette-2-main);
    font-size: 3rem;
    margin-bottom: 50px;
}

.about1 p {
    color: #444444;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.about2 {
    margin-top: 50px;
}

.about2-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.about2-img::before {
    content:'\f10d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--palette-2-main);
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 0;
}

.about2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about2 h3 {
    color: var(--palette-2-main);
    font-size: 2rem;
    margin: 30px 0;
}

.about2 a {
    display: inline-block;
    color: var(--palette-2-secondary);
    background-color: var(--palette-2-main);
    padding: 10px 18px;
    border-radius: 30px;
    text-decoration: none;
    transition: .5s;
}

.about2 a:hover {
    background-color: #7269ee;
    color: black;
}
.about2 i {
    margin-right: 5px;
}


/* Start */

.start {
    background-color: var(--palette-2-main);
    text-align: center;
    padding: 50px 10px;
}

.start span:first-child {
    text-transform: uppercase;
    color: var(--palette-2-secondary);
}

.start h3 {
    color: var(--palette-2-secondary);
    font-size: 1.7rem;
    margin: 20px 0;
}

.start h2 {
    color: #FDC15F;
    font-size: 3rem;
    margin: 20px 0;
}

.start p {
    color: var(--palette-2-secondary);
    line-height: 1.5rem;
}

.start-button {
    display: block;
    width: 90%;
    background-color: var(--palette-2-secondary);
    color: var(--palette-2-main);
    padding: 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 30px auto;
    transition: .5s;
}

.start-button:hover {
    background-color: black;
    color: var(--palette-2-secondary);
}

.copyright,
.copyright a {
    color: var(--palette-2-secondary);
    font-size: .8rem;
}

.privacypolicy:hover {
    color: black;
}


/* Footer */

footer {
    background-color: #333333;
    padding: 30px 10px;
    color: var(--palette-2-secondary);
    text-align: center;
}

footer p {
    font-size: .8rem;
    line-height: 1.3rem;
}

footer p:last-child {
    margin-top: 100px;
}

footer a {
    color: var(--palette-2-main);
}

footer a:hover {
    color: red;
}




                        /* Tablet */


@media all and (min-width: 768px) {

    .container {
        width: 90%;
        max-width: 740px;
        margin: 0 auto;
    }


    /* Demo app */

    .demo-app {
        margin: 150px auto 100px;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .demo-card {
        width: 30%;
    }

    .big-demo-card {
        width: 65%;
    }


    /* Strategic plan */

    .strat-card h2 {
        font-size: 4rem;
    }


    /* Testimonials */

    .testimonial-card {
        flex-direction: row;
    }

    .testimonial-img {
        width: 30%;
    }

    .testimonial-quote {
        width: 60%;
        text-align: left;
        padding-left: 30px;
    }


    /* Benefits */

    .benefits-box {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .benefit-card {
        width: calc(100% / 2 - 20px);
    }

    .benefits > .container > h2 {
        font-size: 2.5rem;
    }

    .benefits h2 {
        font-size: 4rem;

    }


    /* About us */

    .about-box {
        flex-direction: row;
        justify-content: space-around;
    }

    .about1 {
        width: 50%;
        line-height: 2.5rem;
        margin-left: -2rem;

    }

    .about1 h2 {
        font-size: 4rem;
    }

    .about2 {
        width: 30%;
        align-self: flex-start;
        margin-top: 0;
    }
        
    .about2-img {
        width: 250px;
        height: 250px;
    }


    .about2 h3 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }


    /* Start */

    .start > .container {
        width: 80%;
        max-width: 650px;
        margin: 0 auto;
    }

    .start h3 {
        font-size: 3rem;
    }

    .start h2 {
        font-size: 5rem;
    }

    .start p {
        width: 70%;
        margin: 0 auto;
    }

    .start a {
        width: 40%;
    }


    /* Footer */
    
    footer > .container {
        width: 50%;
        max-width: 500px;
        margin: 0 auto;
    }

    footer p {
        font-size: 1rem;
    }
}




                        /* Desktop */


@media all and (min-width: 992px) {

    .container,
    .head-menu {
        width: 80%;
        min-width: 900px;
        max-width: 1300px;
        margin: 0 auto;
    }


    /* Hamburger menu */

    .nav-menu {
        display: inline-block;
    }

    .nav-menu li {
        display: inline-block;
        height: 100%;
    }

    .menu-button {
        display: inline-block;
        padding: 10px 10px;
        text-decoration: none;
        color: white;
    }

    .login-button {
        display: inline-block;
        padding: 15px 15px;
        text-decoration: none;
        border-radius: 30px;
        background-color: var(--palette-2-secondary);
        color: black;

    }

    .left-menu i {
        display: none;
    }


    /* Demo app */

    .big-demo-card {
        flex-direction: row;
    }
    
    .demo-app {
        margin: 150px auto 100px;
    }


    /* Strategic plan */

    .strategic-plan {
        height: 80vh;
    }

    .strategic-plan .container {
        width: 70%;
    }

    .strategic-plan > div {
        flex-direction: row;
        justify-content: center;
        height: 100%;
    }
    
    .strat-card.card-1 img {
        width: 90%;
    }

    .strat-card.card-2 img {
        width: 75%;
    }

    .strat-card.card-1 {
        width: 45%;
    }

    .strat-card.card-1 h2 {
        font-size: 2rem;
        padding-top: 50px;

    }

    .strat-card.card-1 p {
        width: 70%;
    }

    .strat-card.card-2 {
        align-self: flex-end;
        width: 35%;
        height: 70%;
    }


    /* Testimonials */

    .testimonial-card {
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .testimonial-img {
        width: 200px;
    }

    .testimonial-quote {
        width: 75%;
    }

    .testimonials h2 {
        font-size: 3rem;
    }


    /* Benefits */
    
    .benefit-card {
        width: calc(100% / 3 - 20px);
    }


    /* About us */

    
    .about2 h3 {
        width: 80%;
    }


    /* Start */

    .start a {
        width: 30%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .start p {
        width: 50%;
        line-height: 2rem;
    }
    
    
    /* Footer */

    footer p {
        width: 50%;
        margin: 0 auto;
    }
   
}